#define ICON_RESOURCE 101
#define MENU_RESOURCE 200
#define MENU_FILE_NEW 201
#define MENU_FILE_SAVE 202
#define MENU_FILE_LOAD 203

ICON_RESOURCE ICON "Topl-Main.ico"

MENU_RESOURCE MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New" MENU_FILE_NEW
        MENUITEM "&Save" MENU_FILE_SAVE
        MENUITEM "&Load" MENU_FILE_LOAD
    END
END