#include "resource.h"

// IDI_ICON ICON DISCARDABLE "TOPL.ico"
IDI_ICON ICON "TOPL.ico"
// IDI_ICON ICON "C:\AntonDocs\Codex\Ao-Project\Topl\master\assets\res\TOPL.ico" // hard-code test

IDC_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New", IDM_NEW
        MENUITEM "&Load", IDM_LOAD
    END
    POPUP "&Tones"
    BEGIN
        MENUITEM "&Tone1", IDM_TONES1 //, CHECKED
        MENUITEM "&Tone2", IDM_TONES2 // , CHECKED
        MENUITEM "&Tone3", IDM_TONES3 // , CHECKED
        MENUITEM "&Tone4", IDM_TONES4 // , CHECKED
        MENUITEM "&Tone5", IDM_TONES5 //, CHECKED
        MENUITEM "&Tone6", IDM_TONES6 // , CHECKED
        MENUITEM "&Tone7", IDM_TONES7 // , CHECKED
        MENUITEM "&Tone8", IDM_TONES8 // , CHECKED
    END
END
